@using VidlyHw02.Models


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<H2>@Model.Name</H2>
<ul>
    <li>Genre: @Model.Genre</li>
    <li>Release Date: @Model.RealeaseDate.ToLongDateString()</li>
    <li>Date Added: @Model.DateAdded.ToLongDateString()</li>
    <li>Number in Stock: @Model.NumberInStock</li>
</ul>